{%- for cards in collections.cards -%}
<div class="flip-card card_container">
    <div class="expertise_card_wrap flip-card-front {{cards.data.wrapColor}}">
        <div class="expertise_card">
            <h1 class="card_title">{{cards.data.title}}</h1>
            <div class="expertise_img_container"><img class="card_img" src="{{cards.data.image}}" alt="{{cards.data.altImage}}"></div>

            <div>
                <div class="card_btn_container">
                    <button class="card_btn {{cards.data.jqueryClass}}">En savoir plus</button>
                </div>
            </div>
        </div>
    </div>
    <div class="expertise_card_back flip-card-back {{cards.data.bgColor}}">
        <div>
            <h1 class="back_card_title {{cards.data.backTitleColor}}">{{cards.data.title}}</h1>
            <div class="back_card_description {{cards.data.textColor}}">
                <p class="description_title">{{cards.data.description}} :</p>
                <ul class="description_list">
                {%- for item in cards.data.descriptionListItem -%}
                    <li>{{item}}</li>
                {%- endfor -%}

                </ul>
            </div>
        </div>
        <div class="{{cards.data.buttonBack}}">
            <button class="card_btn_back {{cards.data.jqueryClass}}">En savoir plus</button>
        </div>
    </div>
</div>
{%- endfor -%}
