<!--{%- for audit_cards in collections.audit_cards -%}
    <div class="expertise_card_smaller">
        <h3 class="card_title_service">{{audit_cards.data.title}}</h1>
        <div class="card_b">
            <div class="expertise_img_container_sm"><img src="{{audit_cards.data.image}}" alt="{{audit_cards.data.altImage}}"></div>
            <div class="card_btn_container">
                <button class="card_btn {{audit_cards.data.jqueryClass}}">En savoir plus</button>
            </div>
        </div>
    </div>
{%- endfor -%}-->