---
layout: 'base.njk'
title: "Association"
metaDescription: ""
---
<main>
    <section class="profile">
        <div class="container col-xxl-10 px-4 py-5">

            <div class="profile_title px-5">
                <h1 class="section_title_p">Vous êtes une Association</h1>
                <p class="sub_heading">L'organisation et les moyens du monde associatif ne permet pas toujours de disposer de toutes les ressources compétentes en matière de gestion.</p>
                <p class="sub_heading">Nos expériences auprès du monde associatif nous permettent d'identifier les besoins dans votre quotidien et les solutions qui y répondent.</p>
                <p class="sub_heading">Voici les solutions que nous vous proposons pour vous aider à vous professionnaliser, structurer et à développer votre projet associatif.</p>


            </div>
        </section>
        <section class="px-1 pb-5 px-sm-5">
        <div class="d-flex flex-wrap justify-content-center col-10 mx-auto mb-5">
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over entreprise">Entreprise</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p_current bt_over asso">Association</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over particulier">Particulier</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over rep_perso">Représentant du personnel</button>
            </div>

        </div>

        <div class="container col-xxl-10">

            <div class="container_cards">
                {%- for asso_cards in collections.asso_cards -%}
                    <div class="flip-card card_container" style="{{asso_cards.data.cardOrder}}">
                        <div class="expertise_card_wrap flip-card-front {{asso_cards.data.wrapColor}}">
                            <div class="expertise_card">
                                <h2 class="card_title">{{asso_cards.data.title}}</h2>
                                <div class="expertise_img_container"><img class="{{asso_cards.data.imgClass}}" src="{{asso_cards.data.image}}" alt="{{asso_cards.data.altImage}}"></div>
                                <div>
                                    <div class="card_btn_container">
                                        <button class="card_btn {{asso_cards.data.jqueryClass}}">En savoir plus</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expertise_card_back flip-card-back {{asso_cards.data.bgColor}}">
                            <div>
                                <h2 class="back_card_title {{asso_cards.data.backTitleColor}}">{{asso_cards.data.title}}</h2>
                                <div class="back_card_description {{asso_cards.data.textColor}}">
                                    <div class="mb-3">
                                        {%- for item in asso_cards.data.description -%}
                                            <p class="description_title">{{item}}</p>
                                        {%- endfor -%}
                                    </div>

                                    <ul class="description_list">
                                        {%- for item in asso_cards.data.descriptionListItem -%}
                                            <li>{{item}}</li>
                                        {%- endfor -%}

                                    </ul>
                                </div>
                            </div>
                            <div class="card_btn_container">
                                <button class="{{asso_cards.data.buttonBack}} {{asso_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

            </div>
        </div>
    </section>
</main>