---
layout: 'base.njk'
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5">
            <div class="row flex-lg-row-reverse g-5 py-5">
                <div class="col-lg-6 m-0">
                    <div class="container_img"><img class="d-block mx-auto img_y_fit" src="{{'/img/audit_page.png' | url}}" alt="Bootstrap Themes" loading="lazy"></div>
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">Audit Organisationnel</h1>

                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <div class="container col-xxl-10 px-5 py-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-6 mx-auto mb-4">
                    <div class="carousel-indicators">
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="subtitle active" aria-current="true" aria-label="Slide 1">L’objectif d’un audit</button>
                        </div>
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="subtitle" aria-label="Slide 2">Méthodologie</button>
                        </div>
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="subtitle" aria-label="Slide 3">Les préconisations</button>
                        </div>
                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">
                                <h3 class="service_subtitle">Prise de conscience et point de départ vers l’amélioration</h3>
                                <p class="description_subsection">
                                    Quand et pourquoi il y a un besoin
                                </p>
                                <p class="description_subsection">
                                    Un audit est généralement opéré lorsqu&#39;une
                                    <strong>Organisation rencontre des problèmes</strong>
                                    de productivité, des problématiques de turn over, des périodes de crise contextuelle, ou encore au moment de mener une restructuration profonde.</p>
                                <p class="description_subsection">L’audit est nécessaire pour permettre à court terme d’identifier les principaux risques pouvant mener à la faillite de la structure et à long terme de renforcer les compétences RH de cette dernière.</p>
                                <p class="description_subsection">Mais c’est quoi au juste l’audit organisationnel</p>
                                <p class="description_subsection">L’audit consiste en un ensemble de méthodes d&#39;analyse portant sur l&#39;organisation interne d&#39;une entreprise. l&#39;<strong>audit organisationnel</strong>
                                    met en avant les failles au niveau des procédures de fonctionnement. Son intérêt est de
                                    <strong>déterminer les solutions et les nouvelles approches pour y remédier.</strong>
                                </p>
                                <p class="description_subsection fw-bold fst-italic">Vous apporter de la hauteur</p>
                                <p class="description_subsection">Véritable travail de profondeur, d’observation détaillée, l’audit consiste, par la voie de notre Cabinet, à apporter un regard neuf et objectif sur le fonctionnement administratif et managérial de votre organisation en réalisant
                                    <strong>un diagnostic à 360°</strong>
                                    de votre structure :</p>
                                <ul class="subsection_list description_subsection">
                                    <li>l’effectif</li>
                                    <li>la répartition du travail, rôles et responsabilités</li>
                                    <li>le circuit d&#39;information et de communication</li>
                                    <li>l&#39;organisation de la hiérarchie</li>
                                    <li>les procédures d’intégration</li>
                                    <li>les règlementations intérieures et protocoles</li>
                                    <li>le cadre légal rh (contrats, payes, formalités embauche)</li>
                                    <li>les conditions de travail et climat social</li>

                                </ul>
                                <p class="description_subsection">L&#39; audit d&#39;organisation vise
                                    <strong>l&#39;optimisation de la structure</strong>
                                    afin d&#39;alléger les procédures et de réduire les temps de réaction. La réduction des coûts de fonctionnement fait également partie des objectifs les plus fréquents.</p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">
                                    Dépendante de la dimension et des problématiques de votre organisation, la durée de l’audit varie de quelques jours à plusieurs semaines.
                                </p>
                                <p class="description_subsection">Un/une consultante est détachée auprès de votre structure pour apporter la proximité qui est nécessaire à une vision globale de l’organisation. C’est une période d’immersion pour s’imprégner de votre structure et de son identité.</p>
                                <p class="description_subsection text-decoration-underline fw-bold">Un état des lieux :</p>
                                <p class="description_subsection">La première étape pour réaliser l’audit organisationnel est de faire un état des lieux en recensant toutes sortes d’informations :</p>
                                <ul class="subsection_list description_subsection">
                                    <li>- Analyse et compréhension de l’organisation à travers les rôles, responsabilités et missions de chacun</li>
                                    <li>- Observation des processus internes (flux d’information, enchaînement des tâches, acteurs, automatisation…) ;</li>
                                    <li>- Méthodes managériales</li>
                                    <li>- L’appréciation des outils mis en place ;</li>
                                    <li>- La rencontre et l’entretien avec les principaux intervenants de l’organisation afin de connaître les dysfonctionnements qu’ils peuvent ressentir ;</li>
                                    <li>- La détermination des risques et des contrôles.</li>
                                </ul>
                                <p class="description_subsection text-decoration-underline fw-bold">Analyse des dysfonctionnements :</p>
                                <p class="description_subsection">Après l’état des lieux complet et détaillé, nous faisons ressortir les raisons des dysfonctionnements par le biais d’indicateurs précis et des cartographies, permettant d’évaluer les freins au développement de la structure.</p>
                                <p class="description_subsection">Nous réalisons ensuite une analyse qui permette de dégager clairement les forces et les faiblesses ainsi que les opportunités et les risques de l’environnement de votre structure.</p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Tout le travail d’analyse réalisé en amont consiste à dégager les pistes d’amélioration que nous vous préconiserons pour optimiser votre organisation :
                                </p>
                                <p class="description_subsection">Cela peut être, la réorganisation des aménagements du temps de travail, la formation de certaines ressources, …</p>
                                <p class="description_subsection">Nous ne restons pas figés sur de la thérorie, nous amorçons avec vous des changements, vous proposons les outils nécessaires aux transformations ultérieures.</p>
                                <p class="description_subsection">Restitution : Il nous apparait toujours essentiel de présenter une restitution à l’ensemble des équipes pour sensibiliser tous les acteurs de votre structure et les intégrer par la suite dans les changements à opérer.</p>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 px-5 py-5">

            <div class="container_sub pb_c row bg_sable">
                <div class="col-4 px-4 py-4" style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;">
                <p class="text-center">Votre organisation a besoin d'être:</p>
                <ul class="subsection_list">
                    <li>- Clarifiée</li>
                    <li>- Améliorée</li>
                    <li>- Maîtrisée</li>
                </ul>
                </div>
                <div class="col-8">
                    <div class="px-5 py-5 bg_blue h-100">
                    <p class="white">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre gestion et lui donner un nouvel élan</p>
                    <div>
                    <button class="card_btn">Contactez-nous</button>
                    </div>
                    </div>
            </div>

        </div>
    </div>

</section>
<section class="expertise">
    <div class="container col-10 mx-auto">

        <div class="container_cards">
            <div class="cards_single_row">
                <div class="expertise_card_smaller">
                    <h1 class="card_title_service">Conseil RH</h1>
                    <div class="card_b">
                        <div class="expertise_img_container"><img class="card_img" src="/img/conseil_rh.png" alt="conseil rh"></div>
                        <div class="card_btn_container">
                            <button class="card_btn conseil">En savoir plus</button>
                        </div>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title_service">Mise en place d'une gestion RH saine et perenne</h1>
                    <div class="card_b">
                        <div class="expertise_img_container"><img class="card_img" src="/img/mise_en_place.png" alt="conseil rh"></div>
                        <div class="card_btn_container">
                            <button class="card_btn gestion">En savoir plus</button>
                        </div>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title_service">Conformité Légale</h1>
                    <div class="card_b">
                        <div class="expertise_img_container"><img class="card_img" src="/img/cadre_juridique.png" alt="conseil rh"></div>
                        <div class="card_btn_container">
                            <button class="card_btn legal">En savoir plus</button>
                        </div>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title_service">Gouvernance Partagée</h1>
                    <div class="card_b">
                        <div class="expertise_img_container sol4"><img class="card_img" src="/img/gouvernance.png" alt="conseil rh"></div>
                        <div class="card_btn_container">
                            <button class="card_btn gouvernance">En savoir plus</button>
                        </div>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title_service">Accompagnement individuel</h1>
                    <div class="card_b">
                        <div class="expertise_img_container"><img class="card_img" src="/img/accomp.png" alt="conseil rh"></div>
                        <div class="card_btn_container">
                            <button class="card_btn accompagnement">En savoir plus</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</main>