---
layout: 'base.njk'
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img class="d-block mx-auto fit_img img_y_fit" src="{{'/img/audit_page.png' | url}}" alt="Bootstrap Themes" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">Audit Organisationnel</h1>

                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-8 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap">
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="subtitle active" aria-current="true" aria-label="Slide 1">L’objectif d’un audit</button>
                        </div>
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="subtitle" aria-label="Slide 2">Méthodologie</button>
                        </div>
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="subtitle" aria-label="Slide 3">Les préconisations</button>
                        </div>
                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">
                                <h3 class="service_subtitle">Vous apporter de la hauteur</h3>
                                
                                <p class="description_subsection">Véritable travail de profondeur, d’observation détaillée, l’audit consiste, par la voie de notre Cabinet, à apporter un regard neuf et objectif sur le fonctionnement administratif et managérial de votre organisation en réalisant
                                    <strong>un diagnostic à 360°</strong>
                                    de votre structure :</p>
                                <ul class="subsection_list description_subsection">
                                    <li>l’effectif</li>
                                    <li>la répartition du travail, rôles et responsabilités</li>
                                    <li>le circuit d&#39;information et de communication</li>
                                    <li>l&#39;organisation de la hiérarchie</li>
                                    <li>les procédures d’intégration</li>
                                    <li>les règlementations intérieures et protocoles</li>
                                    <li>le cadre légal rh (contrats, payes, formalités embauche)</li>
                                    <li>les conditions de travail et climat social</li>

                                </ul>
                                <p class="description_subsection">L&#39; audit d&#39;organisation vise
                                    <strong>l&#39;optimisation de la structure</strong>
                                    afin d&#39;alléger les procédures et de réduire les temps de réaction. La réduction des coûts de fonctionnement fait également partie des objectifs les plus fréquents.</p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                               
                                <p class="description_subsection">Nous intervenons auprès de votre structure pour apporter la proximité qui est nécessaire à une vision globale de l’organisation. C’est <strong>une période d’immersion</strong> pour s’imprégner de votre structure et de son identité.</p>
                                <p class="description_subsection text-decoration-underline fw-bold">Un état des lieux :</p>
                                <p class="description_subsection">La première étape pour réaliser l’audit organisationnel consiste en un état des lieux en recensant toutes sortes d’informations:</p>
                                <ul class="subsection_list description_subsection">
                                    <li>- Analyse et compréhension de l’organisation à travers les rôles, responsabilités et missions de chacun ;</li>
                                    <li>- Observation des processus internes (flux d’information, enchaînement des tâches, acteurs, automatisation…) ;</li>
                                    <li>- Méthodes managériales ;</li>
                                    <li>- L’appréciation des outils mis en place ;</li>
                                    <li>- La rencontre et l’entretien avec les principaux intervenants de l’organisation afin de connaître les dysfonctionnements qu’ils peuvent ressentir ;</li>
                                    <li>- La détermination des risques et des contrôles.</li>
                                </ul>
                                <p class="description_subsection text-decoration-underline fw-bold">Analyse des dysfonctionnements :</p>
                                <p class="description_subsection">Après l’état des lieux complet et détaillé, nous faisons ressortir les raisons des dysfonctionnements par le biais d’indicateurs précis et de cartographies, permettant d’évaluer les freins au développement de la structure.</p>
                                <p class="description_subsection">Nous réalisons ensuite une analyse qui permet de dégager clairement les forces et les faiblesses ainsi que les opportunités et les risques de l’environnement de votre structure.</p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Tout le travail d’analyse réalisé en amont consiste à dégager les pistes d’amélioration que nous vous préconiserons pour optimiser votre organisation :
                                </p>
                                <p class="description_subsection">Cela peut être, la réorganisation des aménagements du temps de travail, la formation de certaines ressources, …</p>
                                <p class="description_subsection">Nous ne restons pas figés sur de la théorie, nous amorçons avec vous des changements, vous proposons les outils nécessaires aux transformations ultérieures.</p>
                                <p class="description_subsection">Restitution : Il nous apparait toujours essentiel de présenter une restitution à l’ensemble des équipes pour sensibiliser tous les acteurs de votre structure et les intégrer par la suite dans les changements à opérer.</p>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100" style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;"">
                        <p class="text-center">Votre organisation a besoin d'être:</p>
                        <ul class="subsection_list p-0">
                            <li>Clarifiée</li>
                            <li>Améliorée</li>
                            <li>Maîtrisée</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 bg_blue h-100">
                        <p class="white mb-5">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre gestion et lui donner un nouvel élan à votre organisation.</p>
                    <div>
                        <button class="card_btn">Contactez-nous</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="expertise">
    <div class="container col-10 mx-auto">

        <div class="container_cards">
            {% include './templates/sm_cards_template.njk' %}

        </div>
    </div>
</section>

</main>