---
layout: 'base.njk'
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img class="d-block mx-auto fit_img img_y_fit" src="{{'/img/cadre_juridique.png' | url}}" alt="Conformité Légale" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">Conformité Légale</h1>
                    <p class="mx-5 description_subsection">Curabitur in eros turpis. Nulla sed sem consectetur, faucibus neque quis, bibendum lacus. Curabitur elementum nisl diam, at aliquet enim finibus in.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-8 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap"></div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Une gestion saine et pérenne d’entreprise passe par assurer le respect de la réglementation du travail.</p>
                                <p class="description_subsection">Au delà de définir le cadre légal de la structure, la réglementation
                                    <strong>préserve</strong>
                                    le climat social, basé sur des règles objectives et communes, mais la réglementation étant très évolutive et complexe, elle nécessite souvent un appui expert</p>
                                <p class="description_subsection fw-bold w-100">Garantissez et sécurisez votre cadre légal</p>
                                <p class="description_subsection text-decoration-underline fw-bold">Nous vous conseillons et mettons en œuvre :</p>
                                <ul class="subsection_list description_subsection">
                                    <li>obligations légales générales</li>
                                    <li>conformités conventionnelles et accords collectifs</li>
                                    <li>sécurisation et rédaction des documents contractuels (contrats, avenants, détachement…)
                                    </li>
                                    <li>Document unique d’évaluation des risques (réalisation, mise à jour, animation…)</li>
                                    <li>Procédures réglementaires</li>
                                    <li>Procédures de recrutement</li>
                                    <li>Appui à la gestion des ruptures conventionnelles</li>
                                </ul>
                                <p class="description_subsection">Selon vos besoins, nous vous conseillons et vous accompagnons en vous transmettant les outils nécessaire à vos gestions futures.</p>
                                <h3 class="service_subtitle fw-bold">Veille Juridique</h3>
                                <p class="description_subsection fw-bold">Nous vous proposons également une veille juridique permanente opérationnelle pour sécuriser vos différents besoins dans le temps :</p>
                                <p class="description_subsection">Vous souhaitez mettre en place un nouvel aménagement collectif du temps de travail qui nécessite de connaître tous les aspects légaux qui régissent la durée du travail, les possibilités suivant vos effectifs et vos instances de représentation…</p>
                                <p class="description_subsection">Vous avez besoin d’être appuyé dans la gestion de ruptures conventionnelles lorsqu’il s’agit de situations complexes</p>
                                <p class="description_subsection">Expérimentés de la fonction RH de terrain, nos conseils et appuis répondent de manière concrète à vos besoins et rassurante pour votre gestion.</p>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr"></div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100" style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;" ">
                        <p class="text-center">Votre organisation a besoin d'être:</p>
                        <ul class="subsection_list p-0">
                            <li>Clarifiée</li>
                            <li>Améliorée</li>
                            <li>Maîtrisée</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100">
                        <p class="blue mb-5">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre gestion et lui donner un nouvel élan à votre organisation.</p>
                        <div>
                            <button class="blue_btn send_btn">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="expertise">
        <div class="container col-10 mx-auto">

            <div class="container_cards">
                {%- for audit_cards in collections.audit_cards -%}
                    <div class="expertise_card_smaller">
                        <h3 class="card_title_service">{{audit_cards.data.title}}</h1>
                        <div class="card_b">
                            <div class="expertise_img_container_sm"><img src="{{audit_cards.data.image}}" alt="{{audit_cards.data.altImage}}"></div>
                            <div class="card_btn_container">
                                <button class="card_btn {{audit_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </section>

</main>