---
layout: 'base.njk'
title: "Conformité Légale"
metaDescription: ""
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img
                            class="d-block mx-auto fit_img img_y_fit" src="{{'/img/cadre_juridique.png' | url}}"
                            alt="Conformité Légale" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">Conformité Légale</h1>
                    <p class="mx-5 description_subsection"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <h2 style="display: none;">Conformité Légale</h2>
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-8 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap">
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="subtitle active" aria-current="true" aria-label="Slide 1">Sécurisation du cadre
                                légal</button>
                        </div>
                        <div class="col-4 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                class="subtitle" aria-label="Slide 2">Veille juridique</button>
                        </div>

                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Le cadre réglementaire définit en partie les règles de
                                    fonctionnement de l’entreprise, notamment en matière de gestion des ressources
                                    humaines s’agissant du droit du travail.</p>
                                <p class="description_subsection">La réglementation étant très évolutive et complexe,
                                    elle nécessite souvent un appui expert</p>
                                <p class="service_subtitle fw-bold w-100">Garantissez et sécurisez votre cadre légal</p>
                                <p class="description_subsection">Nous intervenons pour vous aider à vous mettre en
                                    conformité sur l’ensemble de vos obligations liées aux ressources humaines </p>
                                <ul class="subsection_list description_subsection">
                                    <li class="bullet_list_arrow">Obligations légales générales</li>
                                    <li class="bullet_list_arrow">Conformités conventionnelles et accords collectifs
                                    </li>
                                    <li class="bullet_list_arrow">Sécurisation et rédaction des documents contractuels
                                        (contrats, avenants, détachement…)
                                    </li>
                                    <li class="bullet_list_arrow">Document unique d’évaluation des risques (réalisation,
                                        mise à jour, animation…)</li>
                                    <li class="bullet_list_arrow">Procédures réglementaires</li>
                                    <li class="bullet_list_arrow">Procédures de recrutement</li>
                                    <li class="bullet_list_arrow">Appui à la gestion des ruptures conventionnelles</li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Nous vous proposons également d’assurer votre veille
                                    juridique en matière de droit du travail étroitement lié aux métiers RH pour vous
                                    permettre de <span class="fw-bold">disposer d’une ressource externe</span> lors de la gestion de certains sujet
                                    complexes:</p>
                                <p class="description_subsection">Vous souhaitez, par exemple, mettre en place un nouvel
                                    aménagement collectif du temps de travail qui nécessite la connaissance des aspects
                                    légaux qui régissent la durée du travail, qui intègre la question de la présence ou
                                    non d’instances de représentation.
                                </p>
                                <p class="description_subsection">Vous voulez ou devez mettre en place les élections d’un CSE.</p>
                                <p class="description_subsection">Vous avez besoin d’être appuyé dans la gestion de ruptures conventionnelles dans le cas de situations sensibles.</p>
                                <ul class="subsection_list description_subsection">
                                    <li class="bullet_list_arrow">Sous format de permanence qui vous est dédiée, nous vous apportons un appui éclairé pour sécuriser vos sujets.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>


        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100"
                        style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;">
                        <p class=" text-center">Votre organisation a besoin d'être:</p>
                        <ul class="subsection_list p-0">
                            <li>Clarifiée</li>
                            <li>Améliorée</li>
                            <li>Maîtrisée</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100">
                        <p class="blue mb-5">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre
                            gestion et lui donner un nouvel élan à votre organisation.</p>
                        <div>
                            <button class="blue_btn send_btn">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="expertise">
        <div class="container col-10 mx-auto">

            <div class="container_cards">
                {%- for legal_cards in collections.legal_cards -%}
                <div class="expertise_card_smaller">
                    <h2 class="card_title_service">{{legal_cards.data.title}}</h2>
                        <div class="card_b">
                            <div class="expertise_img_container_sm"><img src="{{legal_cards.data.image}}"
                                    alt="{{legal_cards.data.altImage}}"></div>
                            <div class="card_btn_container">
                                <button class="card_btn {{legal_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </section>

</main>