--- 
layout: 'base.njk'
---
<main>
    
    <section class="intro">
    <div class="container col-xxl-10 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <div class="container_img"><img src="{{'/img/conseilRH.png' | url}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" loading="lazy"></div>
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Conseil RH</h1>
        
      </div>
    </div>
  </div>

    </section>
    <section class="block"></section>
    <section class="expertise">
        <div class="container_cards">

            <div class="cards_single_row">

                <div class="expertise_card_smaller">
                    <h1 class="card_title">Audit Organisationnel</h1>
                    <div class="expertise_img_container"><img class="card_img" src="./img/audit.png" alt="conseil rh"></div>
                    <div class="card_btn_container">
                        <button class="card_btn" id="audit">Découvrir</button>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title">Mise en place d'une gestion RH saine et perenne</h1>
                    <div class="expertise_img_container"><img class="card_img" src="./img/mise_en_place.png" alt="conseil rh"></div>
                    <div class="card_btn_container">
                        <button class="card_btn" id="gestion">Découvrir</button>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title">Conformité Légale</h1>
                    <div class="expertise_img_container"><img class="card_img" src="./img/cadre_juridique.png" alt="conseil rh"></div>
                    <div class="card_btn_container">
                        <button class="card_btn" id="legal">Découvrir</button>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title">Gouvernance Partagée</h1>
                    <div class="expertise_img_container"><img class="card_img" src="./img/conseil_rh.png" alt="conseil rh"></div>
                    <div class="card_btn_container">
                        <button class="card_btn" id="gouvernance">Découvrir</button>
                    </div>
                </div>
                <div class="expertise_card_smaller">
                    <h1 class="card_title">Accompagnement individuel</h1>
                    <div class="expertise_img_container"><img class="card_img" src="./img/conseil_rh.png" alt="conseil rh"></div>
                    <div class="card_btn_container">
                        <button class="card_btn" id="accompagnement">Découvrir</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>