---
layout: 'base.njk'
title: "CONSEIL RH"
metaDescription: ""
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img
                            class="d-block mx-auto fit_img img_y_fit" src="{{'/img/conseil_page.png' | url}}"
                            alt="CONSEIL RH" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">CONSEIL RH</h1>
                    <p class="mx-5 description_section">Un appui personnalisé de proximité.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <h2 style="display: none;">CONSEIL RH</h2>
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-8 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap">
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="subtitle active" aria-current="true" aria-label="Slide 1">Organisations</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                class="subtitle" aria-label="Slide 2">Particuliers</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                class="subtitle" aria-label="Slide 3">IRP</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                class="subtitle" aria-label="Slide 4">Médecins</button>
                        </div>
                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">

                                <p class="description_subsection">Quelque soit votre problématique, EclaiR’H vous
                                    apporte un accompagnement concret et adapté à vos enjeux.</p>
                                <p class="description_subsection">D’ordre économique ou social, multiples sont les
                                    facteurs qui peuvent vous amener à vous interroger sur la stratégie globale de votre
                                    entreprise.</p>
                                <p class="description_subsection">Vous recherchez une solution et un <span
                                        class="fw-bold">appui concret</span> pour répondre à ces problématiques et
                                    reprendre la maîtrise de votre structure, nous vous aidons à <span
                                        class="fw-bold">élaborer une politique RH</span> grâce à une analyse fine de
                                    votre environnement interne et externe.</p>
                                <p class="description_subsection">Nous vous apportons <span class="fw-bold">des réponses
                                        opérationnelles et connectées à votre réalité.</span></p>
                                <p class="description_subsection">
                                    <span style="margin-right: 0.5rem;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.25122 14.7487C1.36971 15.4588 1.987 16 2.7307 16H14.4999C15.3284 16 15.9999 15.3284 15.9999 14.5V2.73076C15.9999 1.98706 15.4587 1.36977 14.7486 1.25128C14.7621 1.33218 14.7692 1.41526 14.7692 1.49999V13.2692C14.7692 14.0976 14.0976 14.7692 13.2692 14.7692H1.49993C1.4152 14.7692 1.33212 14.7622 1.25122 14.7487Z"
                                                fill="#3C405B" />
                                            <rect x="0.5" y="0.5" width="13.7692" height="13.7692" rx="1"
                                                stroke="#3C405B" />
                                        </svg>
                                    </span>
                                    Réussir vos recrutements: Nous vous aidons à renforcer vos processus de
                                    recrutement par une démarche complète:
                                </p>
                                <ul class="subsection_list description_subsection">
                                    <li class="bullet_list_arrow">Réalisation de fiches de poste sur mesure</li>
                                    <li class="bullet_list_arrow">Définition précise des profils de poste</li>
                                    <li class="bullet_list_arrow">Identification du sourcing adapté</li>
                                    <li class="bullet_list_arrow">Assistance au recrutement</li>
                                    <li class="bullet_list_arrow">Protocole d’intégration</li>
                                    <li class="bullet_list_arrow">Formation auprès des collaborateurs</li>
                                </ul>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">

                                <p class="description_subsection">Nombreuses sont les situations professionnelles qui
                                    vous posent question et qui nécessitent de la clarification pour vous permettre de
                                    vous positionner selon votre contexte:</p>

                                <ul class="subsection_list description_subsection">
                                    <li class="py-2">Votre contrat de travail, sa modification</li>
                                    <li class="py-2">Votre périmètre de poste et ses limites</li>
                                    <li class="py-2">L’application de votre convention collective</li>
                                    <li class="py-2">La spécificité des contrats professionnels et d’apprentissage</li>
                                </ul>
                                <p class="description_subsection fw-bold">Nous vous apportons tout l’éclairage
                                    nécessaire à la gestion de votre situation.</p>
                                <p class="description_subsection">** Pour des besoins qui demandent un suivi, de la
                                    préparation et un accompagnement sur mesure, consultez nos solutions (lien page)</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection fw-bold text-decoration-underline">
                                    UN APPUI AUX INSTANCES DE REPRESENTATION DU PERSONNEL
                                </p>
                                <p class="description_subsection">Animés par la volonté d’oeuvrer pour un environnement
                                    de travail juste et des conditions de travail sécurisantes pour chacun, tous statuts
                                    confondus, nous travaillons en étroite collaboration avec les représentants élus des
                                    salariés, portés par cette même volonté.</p>
                                <p class="description_subsection">Pour nous, pas de clivage RH / IRP. Nous sommes
                                    convaincus de la nécessité de rapprocher nos savoir-faire pour <span
                                        class="fw-bold">garantir et maintenir un environnement de travail sain qui
                                        bénéficie aux employés comme aux employeurs.</span></p>
                                <p class="description_subsection">Nous pouvons intervenir auprès de vos Comités et/ou
                                    organisations syndicales afin de vous apporter tout support nécessaire à vos sujets,
                                    à vos contextes et à vous appuyer dans les accompagnements de salariés en
                                    difficulté, avec <span class="fw-bold">une approche humaine et de proximité.</span>
                                </p>
                                <p class="description_subsection">Nos expériences dans les fonctions à responsabilités
                                    des ressources humaines ainsi que celles dans l’accompagnement des salariés en
                                    difficulté, nous permettent d’avoir une vision globale des situations dans le monde
                                    du travail et nous donnent ainsi les moyens <span class="fw-bold">d’accompagnements
                                        complets et adaptés.</span></p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">EclaiR’H est un cabinet qui milite activement pour
                                    <span class="fw-bold">le droit à la santé au travail pour tous et pour la
                                        mobilisation de tous les acteurs professionnels autour de ce droit.
                                    </span>
                                </p>
                                <p class="description_subsection">Les situations complexes et de souffrance au travail
                                    pour lesquelles, vous êtes, en tant qu’acteurs de la santé, les principaux témoins,
                                    renvoient souvent aux <span class="fw-bold">conditions de travail et au cadre qui
                                        les régit en matière de
                                        droit du travail et de gestion des ressources humaines.</span></p>
                                <p class="description_subsection">Impliqués auprès de centres de santé avec un travail
                                    collaboratif avec les médecins sur la question de la santé au travail, nous pouvons
                                    vous appuyer dans la prise en charge des situations liées aux conditions de travail.
                                </p>
                                <p class="description_subsection">Nous souhaitons vous apporter tout le support
                                    complémentaire à la prise en charge des situations concernées par des problématiques
                                    professionnelles: conseil en droit du travail, espace d’informations pour la
                                    patientèle désorientée, question sur les risques psychosociaux et documents uniques.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100"
                        style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;">
                        <p class=" text-center">1er échange gratuit</p>
                        <p class=" text-center">Devis adapté à vos besoins et à votre situation</p>
                        
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100">
                        <p class="blue mb-5 text-center">N'hésitez pas à nous contacter pour obtenir des réponses concrètes et adaptées à vos besoins.</p>
                        <div>
                            <button class="blue_btn send_btn">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="expertise">
        <div class="container col-10 mx-auto">

            <div class="container_cards">
                {%- for conseil_cards in collections.conseil_cards -%}
                <div class="expertise_card_smaller">
                    <h2 class="card_title_service">{{conseil_cards.data.title}}</h2>
                        <div class="card_b">
                            <div class="expertise_img_container_sm"><img src="{{conseil_cards.data.image}}"
                                    alt="{{conseil_cards.data.altImage}}"></div>
                            <div class="card_btn_container">
                                <button class="card_btn {{conseil_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </section>

</main>