---
layout: 'base.njk'
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img class="d-block mx-auto fit_img img_y_fit" src="{{'/img/conseil_page.png' | url}}" alt="CONSEIL RH" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">CONSEIL RH</h1>
                    <p class="mx-5 description_subsection">Pour répondre à tout ce qui relève de la gestion de l’organisation ou de situations collectives et individuelles, nous soutenons dans leurs questions et besoins, tous les acteurs qui ont un rôle dans cette gestion : employeurs, particuliers, professionnels du soin, IRP.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-8 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap">
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="subtitle active" aria-current="true" aria-label="Slide 1">Organisations</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="subtitle" aria-label="Slide 2">Particuliers</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="subtitle" aria-label="Slide 3">IRP</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="subtitle" aria-label="Slide 4">Médecins</button>
                        </div>
                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">

                                <p class="description_subsection">Que vous disposiez ou non, dans vos structures, des ressources compétentes en matière de gestion des ressources humaines, vos contextes spécifiques renvoient souvent au besoin d’un avis d’expert et objectif pour soutenir votre réflexion et aider vos prises de décision.</p>
                                <p class="description_subsection">Expérimentés de la fonction RH dans des environnements variés, notre connaissance accrue du terrain nous permet de pouvoir apporter des réponses concrètes et connectées à votre réalité.</p>
                                <p class="description_subsection">Des questions sur le pilotage stratégique de votre entreprise ou sur la gestion opérationnelle de certains de vos sujets, nous vous apportons notre recul et nos expertises par des conseils et accompagnements</p>

                                <ul class="subsection_list description_subsection">
                                    <li>Elaborer votre politique RH</li>
                                    <li>Accompagner votre process de recrutement (définition des profils, fiches de poste, sourcing)</li>
                                    <li>Gérer et résoudre les problématiques de turn over</li>
                                    <li>Sécuriser vos procédures</li>
                                    <li>Améliorer le climat social</li>
                                </ul>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">

                                <p class="description_subsection">Nombreuses sont les situations professionnelles qui vous posent question et qui nécessitent de la clarification pour vous permettre de vous positionner selon votre contexte :</p>

                                <ul class="subsection_list description_subsection">
                                    <li>Votre contrat de travail, sa modification</li>
                                    <li>Votre périmètre de poste et ses limites</li>
                                    <li>L’application de votre convention collective</li>
                                    <li>La spécificité des contrats professionnels et d’apprentissage</li>
                                </ul>
                                <p class="description_subsection fw-bold">Nous vous apportons tout l’éclairage nécessaire à la gestion de votre situation.</p>
                                <p class="description_subsection">** Pour des besoins qui demandent un suivi, de la préparation et un accompagnement sur mesure, consultez nos solutions (lien page)</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection fw_bold text-decoration-underline">
                                    UN APPUI AUX INSTANCES DE REPRESENTATION DU PERSONNEL
                                </p>
                                <p class="description_subsection">Animés par la volonté d’oeuvrer pour un environnement de travail juste et des conditions de travail sécurisantes pour chacun, tous statuts confondus, nous travaillons en étroite collaboration avec les représentants élus des salariés, portés par cette même volonté.</p>
                                <p class="description_subsection">Pour nous, pas de clivage RH / IRP. Nous sommes convaincus de la nécessité de rapprocher nos savoir-faire pour
                                    <strong>garantir et maintenir un environnement de travail sain qui bénéficie aux employés comme aux employeurs.</strong>
                                </p>
                                <p class="description_subsection">Nous pouvons intervenir auprès de vos Comités et/ou organisations syndicales afin de vous apporter tout support nécessaire à vos sujets, à vos contextes et à vous appuyer dans les accompagnements de salariés en difficulté, avec notre approche humaine et de proximité.</p>
                                <p class="description_subsection">Nos expériences dans les fonctions à responsabilités des ressources humaines ainsi que celles dans l’accompagnement des salariés en difficulté, nous permettent d’avoir une vision globale des situations dans le monde du travail et nous donnent ainsi les moyens
                                    <strong>
                                        d’accompagnements complets et adaptés.</strong>
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection fw_bold text-decoration-underline">
                                    EclaiR’H est un cabinet qui milite activement pour le droit à la santé au travail pour tous. Et dans santé, nous considérons que chaque salarié, ne peut pas se laisser déposséder de sa situation et être mis entre parenthèse.
                                </p>
                                <p class="description_subsection">Animés par la volonté d’oeuvrer pour un environnement de travail juste et des conditions de travail sécurisantes pour chacun, tous statuts confondus, nous travaillons en étroite collaboration avec les représentants élus des salariés, portés par cette même volonté.</p>
                                <p class="description_subsection">Pour nous, pas de clivage RH / IRP. Nous sommes convaincus de la nécessité de rapprocher nos savoir-faire pour
                                    <strong>garantir et maintenir un environnement de travail sain qui bénéficie aux employés comme aux employeurs.</strong>
                                </p>
                                <p class="description_subsection">Nous pouvons intervenir auprès de vos Comités et/ou organisations syndicales afin de vous apporter tout support nécessaire à vos sujets, à vos contextes et à vous appuyer dans les accompagnements de salariés en difficulté, avec notre approche humaine et de proximité.</p>
                                <p class="description_subsection">Nos expériences dans les fonctions à responsabilités des ressources humaines ainsi que celles dans l’accompagnement des salariés en difficulté, nous permettent d’avoir une vision globale des situations dans le monde du travail et nous donnent ainsi les moyens
                                    <strong>
                                        d’accompagnements complets et adaptés.</strong>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100" style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;" ">
                        <p class="text-center">Votre organisation a besoin d'être:</p>
                        <ul class="subsection_list p-0">
                            <li>Clarifiée</li>
                            <li>Améliorée</li>
                            <li>Maîtrisée</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100">
                        <p class="blue mb-5">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre gestion et lui donner un nouvel élan à votre organisation.</p>
                        <div>
                            <button class="blue_btn send_btn">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="expertise">
        <div class="container col-10 mx-auto">

            <div class="container_cards">
                {%- for conseil_cards in collections.conseil_cards -%}
                    <div class="expertise_card_smaller">
                        <h3 class="card_title_service">{{conseil_cards.data.title}}</h1>
                        <div class="card_b">
                            <div class="expertise_img_container_sm"><img src="{{conseil_cards.data.image}}" alt="{{conseil_cards.data.altImage}}"></div>
                            <div class="card_btn_container">
                                <button class="card_btn {{conseil_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}
            </div>
        </div>
    </section>

</main>