---
layout: 'base.njk'
title: "Entreprise"
metaDescription: ""
---
<main>
    <section class="profile">
        <div class="container col-xxl-10 px-4 py-5">

            <div class="profile_title px-5">
                <h1 class="section_title_p">Vous êtes une Entreprise</h1>
                <p class="sub_heading">Voici les solutions que nous vous proposons pour vous accompagner et soutenir la gestion de votre structure.</p>

            </div>
        </section>
        <section class="px-1 pb-5 px-sm-5">
        <div class="d-flex flex-wrap justify-content-center col-10 mx-auto mb-5">
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p_current bt_over entreprise">Entreprise</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over asso">Association</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over particulier">Particulier</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over rep_perso">Représentant du personnel</button>
            </div>

        </div>

        <div class="container col-xxl-10">

            <div class="container_cards">
                {%- for entreprise_cards in collections.entreprise_cards -%}
                    <div class="flip-card card_container" style="{{entreprise_cards.data.cardOrder}}">
                        <div class="expertise_card_wrap flip-card-front {{entreprise_cards.data.wrapColor}}">
                            <div class="expertise_card">
                                <h2 class="card_title">{{entreprise_cards.data.title}}</h2>
                                <div class="expertise_img_container"><img class="{{entreprise_cards.data.imgClass}}" src="{{entreprise_cards.data.image}}" alt="{{entreprise_cards.data.altImage}}"></div>
                                <div>
                                    <div class="card_btn_container">
                                        <button class="card_btn {{entreprise_cards.data.jqueryClass}}">En savoir plus</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expertise_card_back flip-card-back {{entreprise_cards.data.bgColor}}">
                            <div>
                                <h2 class="back_card_title {{entreprise_cards.data.backTitleColor}}">{{entreprise_cards.data.title}}</h2>
                                <div class="back_card_description {{entreprise_cards.data.textColor}}">
                                    <div class="mb-3">
                                        {%- for item in entreprise_cards.data.description -%}
                                            <p class="description_title">{{item}}</p>
                                        {%- endfor -%}
                                    </div>

                                    <ul class="description_list">
                                        {%- for item in entreprise_cards.data.descriptionListItem -%}
                                            <li>{{item}}</li>
                                        {%- endfor -%}

                                    </ul>
                                </div>
                            </div>
                            <div class="card_btn_container">
                                <button class="{{entreprise_cards.data.buttonBack}} {{entreprise_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

            </div>
        </div>
    </section>
</main>