---
layout: 'base.njk'
---
<main>
    <section class="conseil_rh">
        <div class="container_conseil_rh">
            <h2 class="conseil_heading">Mise en place d'une gestion RH saine et perenne</h2>
            <p class="conseil_sub_heading">Un savoir-faire en organisation et en ressources humaines dédié à tous les acteurs du monde du travail : Entreprise, Salariés, Association, Personne en recherche de projet professionnel.
            </p>
        </div>
    </section>
</main>