---
layout: 'base.njk'
title: "GESTION RH"
metaDescription: ""
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img
                            class="d-block mx-auto fit_img img_y_fit" src="{{'/img/mise_en_place.png' | url}}"
                            alt="GESTION RH" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">MISE EN PLACE D'UNE GESTION RH SAINE ET PERENNE
                    </h1>
                    <p class="mx-5 description_section">Un accompagnement opérationnel pour vous aider à
                        professionnaliser et structurer votre pôle de gestion RH.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <h2 style="display: none;">MISE EN PLACE D'UNE GESTION RH SAINE ET PERENNE</h2>
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-10 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap">
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="subtitle active" aria-current="true" aria-label="Slide 1">Audit RH</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                class="subtitle" aria-label="Slide 2">Structuration de la gestion RH</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                class="subtitle" aria-label="Slide 3">Ajustement de l'Organisation</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                class="subtitle" aria-label="Slide 4">Formation</button>
                        </div>
                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">

                                <p class="description_subsection fw-bold">Un accompagnement opérationnel pour vous aider
                                    à professionnaliser et structurer votre pôle de gestion RH</p>
                                <p class="description_subsection">Vos problématiques contextuelles ou organisationnelles
                                    vous amènent à décider de consolider votre gestion.</p>
                                <p class="description_subsection">Pour vous aider à construire un véritable socle RH
                                    solide et durable, nous réalisons, près de vous et vos équipes, un diagnostic de
                                    votre structure.</p>
                                <p class="description_subsection">L'audit aura pour objectif, à partir d'une vision
                                    claire et détaillée des outils et ressources existantes, ainsi que des carences
                                    constatées, de dégager tous les champs d'actions à déployer et de les mettre en
                                    œuvre pour installer une gestion RH pérenne et adaptée.</p>


                                <ul class="subsection_list description_subsection">
                                    <li class="sqr_bullet_li">Etat des lieux des pratiques RH</li>
                                    <li class="sqr_bullet_li">Cartographie complète de l'organisation</li>
                                    <li class="sqr_bullet_li">Entretiens individuels et collectifs</li>
                                    <li class="sqr_bullet_li">Préconisation d'axes de travail et co-construction
                                        d'un plan d'action opérationnel: organisation et planification des actions à
                                        mettre en œuvre</li>
                                </ul>
                                <p class="description_subsection">Nous traçons une <span class="fw-bold">feuille de
                                        route</span> précise pour vous donner toute la visibilité sur les actions à
                                    venir.
                                </p>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <h3 class="service_subtitle w-100">
                                    <span style="margin-right: 0.5rem;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.25122 14.7487C1.36971 15.4588 1.987 16 2.7307 16H14.4999C15.3284 16 15.9999 15.3284 15.9999 14.5V2.73076C15.9999 1.98706 15.4587 1.36977 14.7486 1.25128C14.7621 1.33218 14.7692 1.41526 14.7692 1.49999V13.2692C14.7692 14.0976 14.0976 14.7692 13.2692 14.7692H1.49993C1.4152 14.7692 1.33212 14.7622 1.25122 14.7487Z"
                                                fill="#3C405B" />
                                            <rect x="0.5" y="0.5" width="13.7692" height="13.7692" rx="1"
                                                stroke="#3C405B" />
                                        </svg>
                                    </span>
                                    Déroulé de la feuille de route
                                </h3>

                                <p class="description_subsection">Sur la base de notre co-construction du plan d'action,
                                    nous procédons à son déploiement:</p>
                                <p class="description_subsection fw-bold text-decoration-underline w-100">Des outils sur
                                    mesure</p>
                                <ul class="subsection_list description_subsection">
                                    <li class="bullet_list_arrow">Elaboration et déploiement d'outils & de pratiques
                                        adaptées à la structure</li>
                                    <li class="bullet_list_arrow">Construction et mise à dispositions d'outils de
                                        contrôle de la GRH (reporting et
                                        tableaux de bord sociaux, calendrier des obligations sociales...)
                                    </li>
                                    <li class="bullet_list_arrow">Recrutement : fiches de fonction, outils d'aide au
                                        recrutement</li>
                                    <li class="bullet_list_arrow">Procédures de gestion RH : guide de procédures,
                                        formation équipe aux process RH </li>
                                    <li class="bullet_list_arrow">Sécurisation du cadre juridique : formalisation de
                                        procédures</li>
                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">
                                    La période d'Audit a pu remonter un certain nombre de dysfonctionnements liés à une
                                    organisation peu ou mal adaptée.</p>
                                <p class="description_subsection">Il peut s'agir par exemple d'un aménagement du temps
                                    de travail collectif.
                                </p>
                                <p class="description_subsection">Spécialisés dans l'organisation et la restructuration
                                    d'entreprise, nous assurerons une organisation ajustée aux ressources internes et
                                    aux besoins externes.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <h3 class="service_subtitle fw-bold">Transmission du savoir-faire</h3>

                                <p class="description_subsection">EclaiR'H vous accompagne ainsi que l'ensemble de vos
                                    collaborateurs afin de professionnaliser et sécuriser la gestion mise en place.</p>
                                <p class="description_subsection">Nous animons des temps de formations individuelles et
                                    collectives pour assurer les montées en compétences des ressources concernées.</p>
                                <p class="description_subsection">Nous formalisons chaque process pour que vous <span class="fw-bold">puissiez
                                    ensuite vous approprier votre gestion.</span></p>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100"
                        style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;">
                        <p class=" text-center">Votre organisation a besoin d'être:</p>
                        <ul class="subsection_list p-0">
                            <li>Clarifiée</li>
                            <li>Améliorée</li>
                            <li>Maîtrisée</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100">
                        <p class="blue mb-5">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre
                            gestion et lui donner un nouvel élan à votre organisation.</p>
                        <div>
                            <button class="blue_btn send_btn">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="expertise">
        <div class="container col-10 mx-auto">

            <div class="container_cards">
                {%- for gestion_cards in collections.gestion_cards -%}
                <div class="expertise_card_smaller">
                    <h2 class="card_title_service">{{gestion_cards.data.title}}</h2>
                        <div class="card_b">
                            <div class="expertise_img_container_sm"><img src="{{gestion_cards.data.image}}"
                                    alt="{{gestion_cards.data.altImage}}"></div>
                            <div class="card_btn_container">
                                <button class="card_btn {{gestion_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </section>

</main>