---
layout: 'base.njk'
title: "Gouvernance partagée"
metaDescription: ""
---
<main>

    <section class="bg_sable">
        <div class="container-fluid col-xxl-10 px-4 pt-5 mb-5">
            <div class="row flex-lg-row-reverse g-5 py-2">
                <div class="col-lg-6 m-0">
                    <div class="container_img d-flex flex-column justify-content-center"><img
                            class="d-block mx-auto fit_img img_y_fit" src="{{'/img/gouv_page.png' | url}}"
                            alt="Accompagnement individuel" loading="lazy"></div>
                </div>
                <div class="col-lg-6 mt-2 mt-sm-5">
                    <h1 class="display-5 fw-bold lh-1 mb-3 title_intro">Organisation et gestion RH en gouvernance
                        partagée</h1>
                    <p class="mx-5 description_section">Un cadre au service de votre projet.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="service_block">
        <h2 style="display: none;">Organisation et gestion RH en gouvernance
            partagée</h2>
        <div class="container col-xxl-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="false">
                <div class="row col-8 mx-auto mb-4">
                    <div class="carousel-indicators d-flex flex-wrap">
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="subtitle active" aria-current="true" aria-label="Slide 1">Organisation</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                class="subtitle" aria-label="Slide 2">Gestion</button>
                        </div>
                        <div class="col-3 container_subtitle">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                class="subtitle" aria-label="Slide 3">Appui opérationnel</button>
                        </div>
                    </div>
                </div>
                <div class="bg_sable">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Vous avez opté pour un modèle de gestion, encore «
                                    marginal » aujourd’hui, qui en
                                    privilégiant les relations de coopération, rompe avec les modèles plus traditionnels
                                    verticaux, et suppose en conséquence, d’adapter toute une gestion de référence, à
                                    son propre fonctionnement.</p>
                                <p class="description_subsection">La volonté du Faire ensemble repose sur l’implication
                                    de toutes les parties et induit un <span class="fw-bold">partage de pouvoir qui,
                                        sans être cadré, met le
                                        projet et la structure en risque.</span></p>
                                <p class="description_subsection">En ayant accompagné des structures privées et
                                    associatives de notoriété commune, dans
                                    l’orchestration de leur gouvernance partagée, nous pouvons vous aider, vous aussi, à
                                    lever tous les freins à la réussite de votre idéal de gestion.</p>
                                <p><span style="display: inline-block; margin-right: 0.5rem;"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.25122 14.7487C1.36971 15.4588 1.987 16 2.7307 16H14.4999C15.3284 16 15.9999 15.3284 15.9999 14.5V2.73076C15.9999 1.98706 15.4587 1.36977 14.7486 1.25128C14.7621 1.33218 14.7692 1.41526 14.7692 1.49999V13.2692C14.7692 14.0976 14.0976 14.7692 13.2692 14.7692H1.49993C1.4152 14.7692 1.33212 14.7622 1.25122 14.7487Z"
                                                fill="#3C405B" />
                                            <rect x="0.5" y="0.5" width="13.7692" height="13.7692" rx="1"
                                                stroke="#3C405B" />
                                        </svg></span>Notre première étape d’accompagnement vise à structurer
                                    l’organisation,
                                    par des
                                    entretiens individuels et collectifs, et des actions concrètes:</p>
                                <ul class="subsection_list description_subsection">
                                    <li class="sqr_bullet_li">Clarification et formalisation des rôles et des périmètres
                                        de chacun</li>
                                    <li class="sqr_bullet_li">Formalisation des circuits de décision</li>
                                    <li class="sqr_bullet_li">Organisation et calendrier des espaces collectifs</li>
                                    <li class="sqr_bullet_li">Création d’outils d’aide à la gestion partagée</li>

                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Qu’en est-il de la gestion des ressources humaines
                                    lorsqu’on se retrouve dans une gestion partagée et que les rôles sont alors
                                    déplacés.</p>
                                <p class="description_subsection">Nous travaillons avec vous pour <span
                                        class="fw-bold">organiser les
                                        périmètres opérationnels et stratégiques et formaliser l’articulation de la
                                        gestion</span>
                                    de sorte à ce qu’elle soit, en même temps respectueuse de votre modèle et des règles
                                    de droit commun.</p>
                                <p class="description_subsection"><span
                                        style="display: inline-block; margin-right: 0.5rem;"><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 16 16" fill="none">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M1.25122 14.7487C1.36971 15.4588 1.987 16 2.7307 16H14.4999C15.3284 16 15.9999 15.3284 15.9999 14.5V2.73076C15.9999 1.98706 15.4587 1.36977 14.7486 1.25128C14.7621 1.33218 14.7692 1.41526 14.7692 1.49999V13.2692C14.7692 14.0976 14.0976 14.7692 13.2692 14.7692H1.49993C1.4152 14.7692 1.33212 14.7622 1.25122 14.7487Z"
                                                fill="#3C405B" />
                                            <rect x="0.5" y="0.5" width="13.7692" height="13.7692" rx="1"
                                                stroke="#3C405B" />
                                        </svg></span>La seconde étape de l’accompagnement
                                    repose sur la mise en place d’une gestion RH adaptée et professionnalisée en
                                    associant tous les acteurs à la définition de l’organisation du travail:</p>
                                <ul class="subsection_list description_subsection">
                                    <li class="sqr_bullet_li">Identification des rôles en matière de gestion RH et
                                        construction des fiches de fonction précise</li>
                                    <li class="sqr_bullet_li">GPEC , gestion prévisionnelle des emplois et compétences
                                        pour vous permettre d’avoir de la perspective sur vos projections cible en
                                        matière de ressources</li>
                                    <li class="sqr_bullet_li">Mise en conformité des volets autour de la sécurité: mise
                                        en place du document unique DUER</li>
                                    <li class="sqr_bullet_li">Sécurisation du pôle RH: formalités d’embauche, process
                                        recrutement, gestion de la formation, de la paye</li>
                                    <li class="sqr_bullet_li">Organisation et calendrier des espaces collectifs</li>
                                    <li class="sqr_bullet_li">Création d’outils d’aide à la gestion partagée</li>
                                    <li class="sqr_bullet_li">Montée en compétences des acteurs dédiés à la gestion de
                                        la structure</li>

                                </ul>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container_sub bg_sable">
                                <p class="description_subsection">Vous ne disposez pas toujours de ressources ou
                                    d’expertise en matière de gestion des ressources humaines, EclaiR’H vous donne les
                                    moyens d’assurer, de manière professionnelle et pérenne, la gestion opérationnelle
                                    de vos volets RH:</p>
                                <ul class="subsection_list description_subsection">
                                    <li class="sqr_bullet_li">Construction de Référentiels RH, réalisation des fiches de
                                        poste repères de la structure</li>
                                    <li class="sqr_bullet_li">Elaboration d’outils de gestion du temps adapté à votre
                                        structure: planning sur mesure et élaboré, outils de suivi du temps individuels
                                        et collectifs</li>
                                    <li class="sqr_bullet_li">Construction de tableaux de bord d’indicateurs RH</li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_contr">

                        <button class="carousel-control-prev contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="prev_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next contr_over" type="button"
                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="next_arrow" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>

            </div>
        </div>

        <div class="container col-xxl-10 py-5">

            <div class="container_sub pb_c bg_sable">
                <div class="col col-md-4">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100"
                        style="background: transparent linear-gradient(132deg, #FAFF6F 0%, #FECB13 100%) 0% 0% no-repeat padding-box;">
                        <p class=" text-center">Votre organisation a besoin d'être:</p>
                        <ul class="subsection_list p-0">
                            <li>Clarifiée</li>
                            <li>Améliorée</li>
                            <li>Maîtrisée</li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="mx-3 px-3 py-3 px-sm-5 py-sm-5 h-100">
                        <p class="blue mb-5">Profitez d'un regard expert es objectif pour reprendre la maîtrise de votre
                            gestion et lui donner un nouvel élan à votre organisation.</p>
                        <div>
                            <button class="blue_btn send_btn">Contactez-nous</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="expertise">
        <div class="container col-10 mx-auto">

            <div class="container_cards">
                {%- for gouvernance_cards in collections.gouvernance_cards -%}
                <div class="expertise_card_smaller">
                    <h2 class="card_title_service">{{gouvernance_cards.data.title}}</h2>
                    <div class="card_b">
                        <div class="expertise_img_container_sm"><img src="{{gouvernance_cards.data.image}}"
                                alt="{{gouvernance_cards.data.altImage}}"></div>
                        <div class="card_btn_container">
                            <button class="card_btn {{gouvernance_cards.data.jqueryClass}}">En savoir plus</button>
                        </div>
                    </div>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </section>

</main>