---
layout: 'base.njk'
title: "EclaiR’H"
metaDescription: "EclaiR’H est un cabinet de conseils et d’accompagnement qui dédie son savoir-faire en ressources
humaines et en organisation, à tous les acteurs du monde du travail : Entreprises, Associations, particuliers …"
---

<main>
    <section class="hero">
        <div class="container col-xxl-10 px-4 py-5">
            <div>
                <h1 class="heading display-5 fw-bold lh-1 mb-3">DU CONSEIL À L'OPERATIONNEL</h1>
            </div>
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6"></div>
                <div class="mt_0 col-lg-6">
                    <p class="sub_heading lead">EclaiR’H est un cabinet de conseils et d’accompagnement qui dédie son
                        savoir-faire en ressources humaines et en organisation, à tous les acteurs du monde du travail :
                        Entreprises, Associations, particuliers …</p>
                </div>
            </div>
        </div>
    </section>

    <section class="expertise" id="expertise_section">
        <div class="container col-xxl-10">
            <h2 class="section_title">Nos solutions</h2>
            <div class="container_cards">
                {% include './templates/cards_template.njk' %}
            </div>
        </div>
    </section>
    <section class="values">
        <div class="container col-xxl-10">
            <h2 class="section_title">Nos engagements</h2>
            <div class="container_cards_val">
                <div class="values_card_container">
                    <div class="values_card">
                        <div class="values_img_container">
                            <img class="val_card_img val02_img" src="./img/sur_mesure.png" alt="Sur mesure">
                        </div>
                        <div class="custom_pe yellow_wrap">
                            <div class="card_bottom">
                                <h4 class="card_title_val">Sur mesure</h4>
                                <p class="value_tagline">
                                    Chaque accompagnement est construit de manière personnalisée tant dans le conseil
                                    que dans la création d’outils uniques.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="values_card_container">
                    <div class="values_card">

                        <div class="values_img_container">
                            <img class="val_card_img val04_img" src="./img/sante.png" alt="La santé au travail">
                        </div>
                        <div class="custom_pe blue_wrap">
                            <div class="card_bottom">
                                <h4 class="card_title_val">La santé au travail</h4>
                                <p class="value_tagline">Plus qu’une formule, une incarnation dans notre démarche et
                                    notre savoir-faire.</p>
                                <p class="value_tagline">Nous œuvrons pour un mieux-être du monde du travail, dans
                                    l’intérêt de tous.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="values_card_container">
                    <div class="values_card">

                        <div class="values_img_container">
                            <img class="val_card_img val03_img" src="./img/consideration.png" alt="Considération">
                        </div>
                        <div class="custom_pe yellow_wrap">
                            <div class="card_bottom">
                                <h4 class="card_title_val">Considération</h4>
                                <p class="value_tagline">
                                    Valeur phare de notre approche, chacun de nos accompagnements considère la dimension
                                    humaine et la recherche de sa réalisation satisfaisante et durable.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="values_card_container">
                    <div class="values_card">
                        <div class="values_img_container">
                            <img class="val_card_img val01_img" src="./img/pragmatisme.png" alt="Pragmatisme">
                        </div>
                        <div class="custom_pe blue_wrap">
                            <div class="card_bottom">
                                <h4 class="card_title_val">Pragmatisme</h4>
                                <p class="value_tagline">
                                    Orientés résultats, nos méthodes visent des réponses concrètes et ajustées au réel.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="values_card_container">
                    <div class="values_card">

                        <div class="values_img_container">
                            <img class="val_card_img val04_img" src="./img/dispo.png" alt="DISPONIBILITÉ">
                        </div>
                        <div class="custom_pe yellow_wrap">
                            <div class="card_bottom">
                                <h4 class="card_title_val">DISPONIBILITÉ</h4>
                                <p class="value_tagline">Totalement investis avec vous, c’est votre situation qui fixe
                                    notre calendrier.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="review">
        <div class="container col-xxl-10">
            <h3 class="section_title">Témoignages</h3>
            <div class="container_reviews p-2 p-md-5">
                <div id="carouselExampleControls" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-inner w-75 mx-auto">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="container_review_item">
                                <p class="review_quotes">"</p>
                                <div>
                                    <p class="review_text">
                                        EclaiR'H a su accompagner notre Association sur l'organisation de notre
                                        cogestion et les périmètres des responsabilités de notre équipe CA et salariées.
                                        Le cabinet nous a aussi accompagnées dans l'organisation du travail en lien avec
                                        les règles en vigueur et a su s'adapter à notre mode de fonctionnement et de
                                        prise de décision. EclaiR'H a pu, à la fois créer des outils pratiques qui ont
                                        pu être mis en oeuvre, mais aussi des formations adaptées auprès de l'équipe.
                                    </p>
                                    <p class="review_text" style="text-align: right !important">Nathalie EB<br>
                                        Mouvement Français du Planning Familial<br>
                                        Présidente de l'AD 69</p>
                                </div>
                                <p class="review_quotes">"</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="container_review_item">
                                <p class="review_quotes">"</p>
                                <div>
                                    <p class="review_text">Humain, Pragmatique et Efficace. Un accompagnement dans mon
                                        projet de reconversion bien au-delà de mes attentes! J’ai été accompagnée par
                                        une consultante à l’écoute, experte en RH et surtout efficace. Je la remercie
                                        pour ses qualités humaines, son talent pour comprendre les personnes, les
                                        valoriser et les aider à avancer. Elle m’a permis de structurer mon projet de
                                        reconversion professionnelle jusqu’à l’obtention du CDI.</p>
                                    <p class="review_text" style="text-align: right !important">Karoline K</p>
                                </div>
                                <p class="review_quotes">"</p>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <div class="container_review_item">
                                <p class="review_quotes">"</p>
                                <div>
                                    <p class="review_text">
                                        Gérant d’un salon de coiffure, EclaiR'H m’a accompagné dans la prévention de
                                        litiges. J’ai pu obtenir des réponses concrètes à mes questions en matière de
                                        gestion de mes salariés. Ses conseils avisés ont permis de désamorcer des
                                        conflits sans passer par la case avocat et ce à des tarifs ultra compétitifs !
                                        Je recommande à 100%</p>
                                    <p class="review_text" style="text-align: right !important">SEMELDI</p>
                                </div>
                                <p class="review_quotes">"</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="prev_arrow" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="next_arrow" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>
    </section>
    <div class="footer_bg">
        <div class="container"></div>
    </div>
</main>