---
layout: 'base.njk'
---
<main>
    <section class="profile">
        <div class="container col-xxl-10 px-4 py-5">

            <div class="profile_title px-5">
                <h3 class="section_title_p">Vous êtes ?</h3>

            </div>
        </section>
        <section class="px-5 pb-5"></div>
        <div class="row mx-auto pb-5 mb-5">
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over entreprise">Entreprise</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over asso">Association</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p_current bt_over particulier">Particulier</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over rep_perso">Représentant du personnel</button>
            </div>

        </div>

        <div class="container col-xxl-10">

            <div class="cards_row">
                <div class="col-sm flip-card card_container">
                    <div class="expertise_card_wrap blue_wrap flip-card-front">
                        <div class="expertise_card">
                            <h1 class="card_title">Audit Organisationnel</h1>
                            <div>
                                <div class="expertise_img_container"><img class="card_img" src="/img/audit.png" alt="conseil rh"></div>
                                <div class="card_btn_container">
                                    <button class="card_btn audit">En savoir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expertise_card_back flip-card-back bg_blue">
                        <div>
                            <h1 class="back_card_title yellow">Audit Organisationnel</h1>
                            <div class="back_card_description white">
                                <p class="description_title">Phase indispensable pour tous ceux qui cherchent à améliorer leur organisation :</p>
                                <ul class="description_list">
                                    <li>Etat des lieux complet / Analyse 360°</li>
                                    <li>Projection cible</li>
                                    <li>Préconisations et feuille de route</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card_btn_container">
                            <button class="card_btn audit">En savoir plus</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm flip-card card_container">
                    <div class="expertise_card_wrap yellow_wrap flip-card-front">
                        <div class="expertise_card">
                            <h1 class="card_title">Mise en place d'une gestion RH saine et perenne</h1>
                            <div>
                                <div class="expertise_img_container"><img class="card_img" src="/img/mise_en_place.png" alt="conseil rh"></div>
                                <div class="card_btn_container">
                                    <button class="card_btn gestion">En savoir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expertise_card_back flip-card-back bg_yellow">
                        <div>
                            <h1 class="back_card_title blue">Mise en place d'une gestion RH saine et perenne</h1>
                            <div class="back_card_description blue">
                                <p class="description_title">Transmettre notre savoir-faire par des outils et de la formation</p>
                                <ul class="description_list">
                                    <li>Référentiels RH</li>
                                    <li>Tableaux de bord</li>
                                    <li>Montée en compétence des ressources</li>
                                    <li>GPEC, gestion prévisionnelle des emplois et compétences</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card_btn_container">
                            <button class="card_btn_back gestion">En savoir plus</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm flip-card card_container">
                    <div class="expertise_card_wrap blue_wrap flip-card-front">
                        <div class="expertise_card">
                            <h1 class="card_title">Conformité Légale</h1>
                            <div>
                                <div class="expertise_img_container"><img class="card_img" src="/img/cadre_juridique.png" alt="conseil rh"></div>
                                <div class="card_btn_container">
                                    <button class="card_btn legal">En savoir plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expertise_card_back flip-card-back bg_blue">
                        <div>
                            <h1 class="back_card_title yellow">Conformité Légale</h1>
                            <div class="back_card_description white">
                                <p class="description_title">Sécuriser vos pratiques RH et votre cadre légal</p>
                                <ul class="description_list">
                                    <li>Gestion du temps de travail</li>
                                    <li>Contrats de travail</li>
                                    <li>Documents obligatoires</li>
                                    <li>Convention et accords collectifs</li>
                                </ul>
                            </div>
                        </div>
                        <div class="card_btn_container">
                            <button class="card_btn legal">En savoir plus</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>