---
layout: 'base.njk'
title: "Particulier"
metaDescription: ""
---
<main>
    <section class="profile">
        <div class="container col-xxl-10 px-4 py-5">

            <div class="profile_title px-5">
                <h1 class="section_title_p">Vous êtes un particulier</h1>
                <p class="sub_heading fw-bold">Une expertise RH au service des particuliers</p>
                <p class="sub_heading">Que vous soyez en recherche d'emploi, salarié, représentant du personnel, nous vous proposons des solutions de conseils et d'accompagnement au plus proche de vos besions.</p>

            </div>
        </section>
        <section class="px-1 pb-5 px-sm-5">
        <div class="d-flex flex-wrap justify-content-center col-10 mx-auto mb-5">
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over entreprise">Entreprise</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over asso">Association</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p_current bt_over particulier">Particulier</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over rep_perso">Représentant du personnel</button>
            </div>

        </div>

        <div class="container col-xxl-10">

            <div class="container_cards">
                {%- for particulier_cards in collections.particulier_cards -%}
                    <div class="flip-card card_container" style="{{particulier_cards.data.cardOrder}}">
                        <div class="expertise_card_wrap flip-card-front {{particulier_cards.data.wrapColor}}">
                            <div class="expertise_card">
                                <h2 class="card_title">{{particulier_cards.data.title}}</h2>
                                <div class="expertise_img_container"><img class="{{particulier_cards.data.imgClass}}" src="{{particulier_cards.data.image}}" alt="{{particulier_cards.data.altImage}}"></div>
                                <div>
                                    <div class="card_btn_container">
                                        <button class="card_btn {{particulier_cards.data.jqueryClass}}">En savoir plus</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="expertise_card_back flip-card-back {{particulier_cards.data.bgColor}}">
                            <div>
                                <h2 class="back_card_title {{particulier_cards.data.backTitleColor}}">{{particulier_cards.data.title}}</h2>
                                <div class="back_card_description {{particulier_cards.data.textColor}}">
                                    <div class="mb-3">
                                        {%- for item in particulier_cards.data.description -%}
                                            <p class="description_title">{{item}}</p>
                                        {%- endfor -%}
                                    </div>

                                    <ul class="description_list">
                                        {%- for item in particulier_cards.data.descriptionListItem -%}
                                            <li>{{item}}</li>
                                        {%- endfor -%}

                                    </ul>
                                </div>
                            </div>
                            <div class="card_btn_container">
                                <button class="{{particulier_cards.data.buttonBack}} {{particulier_cards.data.jqueryClass}}">En savoir plus</button>
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

            </div>
        </div>
    </section>
</main>