---
layout: 'base.njk'
title: "Représentant du personnel"
metaDescription: ""
---
<main>
    <section class="profile">
        <div class="container col-xxl-10 px-4 py-5">

            <div class="profile_title px-5">
                <h1 class="section_title_p">Vous êtes représentant du personnel</h1>
                <p class="sub_heading">La coordination sociale et le dialogue social sont des volets fondamentaux de la
                    gestion des ressources humaines.</p>
                <p class="sub_heading">Nos expériences dans l'animation des instances de représentation du personnel
                    nous ont convaicu qu'un climat social sain repose sur la considération de toutes les parties, dans
                    leur missions communes d'accompagnements individuels et collectifs de salariés.</p>
                    <p class="sub_heading">Eclair'H favorise le lien entre tous les acteurs du monde professionnel.</p>
            </div>
    </section>
    <section class="px-1 pb-5 px-sm-5">
        <div class="d-flex flex-wrap justify-content-center col-10 mx-auto mb-5">
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over entreprise">Entreprise</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over asso">Association</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p bt_over particulier">Particulier</button>
            </div>
            <div class="col-3 container_subtitle px-0">
                <button type="button" class="subtitle_p_current bt_over rep_perso">Représentant du personnel</button>
            </div>

        </div>

        <div class="container col-xxl-10">

            <div class="container_cards">
                {%- for rep_perso_cards in collections.rep_perso_cards -%}
                <div class="flip-card card_container" style="{{rep_perso_cards.data.cardOrder}}">
                    <div class="expertise_card_wrap flip-card-front {{rep_perso_cards.data.wrapColor}}">
                        <div class="expertise_card">
                            <h2 class="card_title">{{rep_perso_cards.data.title}}</h2>
                            <div class="expertise_img_container"><img class="{{rep_perso_cards.data.imgClass}}"
                                    src="{{rep_perso_cards.data.image}}" alt="{{rep_perso_cards.data.altImage}}">
                            </div>
                            <div>
                                <div class="card_btn_container">
                                    <button class="card_btn {{rep_perso_cards.data.jqueryClass}}">En savoir
                                        plus</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expertise_card_back flip-card-back {{rep_perso_cards.data.bgColor}}">
                        <div>
                            <h2 class="back_card_title {{rep_perso_cards.data.backTitleColor}}">
                                {{rep_perso_cards.data.title}}</h2>
                            <div class="back_card_description {{rep_perso_cards.data.textColor}}">
                                <div class="mb-3">
                                    {%- for item in rep_perso_cards.data.description -%}
                                    <p class="description_title">{{item}}</p>
                                    {%- endfor -%}
                                </div>

                                <ul class="description_list">
                                    {%- for item in rep_perso_cards.data.descriptionListItem -%}
                                    <li>{{item}}</li>
                                    {%- endfor -%}

                                </ul>
                            </div>
                        </div>
                        <div class="card_btn_container">
                            <button
                                class="{{rep_perso_cards.data.buttonBack}} {{rep_perso_cards.data.jqueryClass}}">En
                                savoir plus</button>
                        </div>
                    </div>
                </div>
                {%- endfor -%}

            </div>
        </div>
    </section>
</main>